<!-- BASIC INFORMATIONS -->
<div class="jumbotron">
  <h2>{{repos.name}}</h2>
  <h3>Created by : {{repos.owner.login}}</h3>
  <p>
    <u><b>Description</b></u> : </br>
    {{repos.description}}
  </p>
  <p>
    Main language : {{repos.language}} <br/>
    Forked {{repos.forks_count}} times
  </p>
  <p>
    <a class="btn btn-primary btn-lg" href="#/user/?username={{username}}" role="button">Back to user</a>
  </p>
</div>

<!-- CHART -->
<div class="container">
  <div class="col-md-12" ng-if="commitChart.chartContributorData && commitChart.chartContributorLabels">
    <!-- PARTICIPATIONS CHART -->
    <canvas class="chart chart-bar" chart-data="commitChart.chartContributorData" chart-labels="commitChart.chartContributorLabels"></canvas>
  </div>
</div>
